 :root {
    --bleu: #3866dc;
    --rouge: #bf6002;
    --blanc: #ffffff;
    --noir: #20073f;
}

body { margin: 0; font-family: 'Segoe UI', sans-serif; }

/* Hero Section */
.hero { 
    background-image: url(/src/Images/img4.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.4);
    display: flex;
     justify-content: space-between;
    /* background-blend-mode: darken; */
     align-items: center; 
     padding: 70px 1%; 
     min-height: 200px; 
     color: white;
    }
.content { max-width: 50%; }

/* Formulaire */
.login-card { background: var(--noir); padding: 30px; border-radius: 8px; width: 300px; box-shadow: 0 4px 15px rgba(0,0,0,0.3); }
input { width: 100%; margin: 10px 0; padding: 12px; border: 1px solid mediumorchid; border-radius: 4px; box-sizing: border-box; }
/* button { background: var(--rouge); color: white; width: 100%; padding: 12px; border: none; cursor: pointer; font-weight: bold; border-radius: 4px; }
button:hover { opacity: 0.9; }
button { 
    background-color: #2980b9; 
    color: rgb(255, 255, 255); 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
} */