<link rel="stylesheet" href="Index.css">
<link rel="stylesheet" href="/src/Components/Header/Index.css">
<header>
    <div class="info-bar">Prochaine Rentrée : 22 Juin 2026 | Clôture des inscriptions : 31 Mai 2026</div>

    <nav>
        <div class="logo">
            <h3>PROMILLYS ACADEMY</h2>
        </div>
        <!-- <div class="menu">
            <span  id="nav-accueil" style="cursor: pointer; text-decoration: underline;">Accueil</span>
            <span class="nav-filieres" style="cursor: pointer; text-decoration: underline;">Filières</span>
            <span class="nav-session">Sessions</span>
            
           <span class="nav-contact">contact</span>

        </div> -->

            <nav class="menu-navigation">
                <span onclick="redirection('../../../Index.html')">Accueil</span>
                <span onclick="redirection('/src/Page/Filiere/Filiere.html')">Filière</span>
                <span onclick="redirection('/src/Page/Session/Session.html')">Session</span>
                <span onclick="redirection('/src/Page/Contacts/contact.html')">Contact</span>
            </nav>


        <button class="btn-connexion" onclick="redirection('../../../Index.html')" >Déconnexion</button>
    </nav>

</header>

<script src="Index.js"></script>
