<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Sidebar.css">
    <title>Promillys Academy</title>
</head>
<body>


    <button class="menu-btn" onclick="toggleSiebar()">☰</button>
d
    <nav id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">&times;</a>
        <div class="logo">PROMILLYS ACADEMY</div>
        <ul>
            <li><a href="#">Filière</a></li>
            <li><a href="#">Inscription</a></li>
            <li><a href="#">Session</a></li>
            <li><a href="#">Comptes utilisateurs</a></li>
        </ul>
    </nav>

    <script src="Sidebar.js"></script>
</body>
</html>