<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Centre de formation</title>
</head>
<body>
    <footer class="site-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h2>PROMILLYS ACADEDEMY</h2>
                <p>Le partenaire de votre réussite professionnelle.</p>
            </div>
            <div class="footer-section">
                <h4>Liens utiles</h4>
                <ul>
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">Politiques de confidentialité</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Contact</h4>
                <p>Email : contact@PROMILLYS.com</p>
                <p>Tél : +237 69 345 879</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 PROMILLYS ACADEMY. Tous droits réservés.</p>
        </div>
    </footer>
    <script src="Index.js"></script>

</body>
</html>