 body { margin: 0; font-family: 'Segoe UI', sans-serif; color: #333; }

.top-bar { background-color: #d35400; color: white; text-align: center; padding: 8px; font-size: 0.9rem; }




/* nav a { text-decoration: none; color: #333; font-weight: 500; } */

.hero { background-image: url(/src/Images/img5.avif);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.4);
    display: flex;
     justify-content: space-between;
    /* background-blend-mode: darken; */
     align-items: center; 
     padding: 70px 1%; 
     min-height: 200px; 
     color: white;
     
    }
     

/* .logout-btn { background: #c0392b; color: white; border: none; padding: 8px 15px; cursor: pointer; border-radius: 4px; } */

.container { padding: 40px 50px; }


 /* .menu-navigation span {
    margin-right: 20px;
    cursor: pointer; 
    color: blue;
    text-decoration: underline;
    font-family: sans-serif;
}

.menu-navigation span:hover {
    color: darkblue; 
    font-weight: bold; 
/* }  */

:root {
    --primary: #6366f1;
    --bg: #f8fafc;
    --text: #1e293b;
}

body { font-family: 'Segoe UI', sans-serif; background: var(--bg);  } 

.section-title { text-align: center; 
    margin-bottom: 40px; 
    color: var(--text); 
    text-decoration: underline;
}

.grid-filiere {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: rgb(176, 230, 229);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px -5px rgb(21, 10, 7);
}

.card-icon { font-size: 3rem; margin-bottom: 15px; }

.btn-more {
    margin-top: 20px;
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}